/* @import url('../../reset.css'); */
@import url('https://fonts.googleapis.com/css2?family=Cabin+Sketch&family=Lato:ital,wght@0,400;0,700;1,400&family=Oswald:wght@200;300;400;500&family=Rambla&family=Roboto:wght@300;400;500&family=Work+Sans&display=swap');

/* Login Page */
.login {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    /* background-color: rgb(243, 241, 241); */
    background-image: url('../../public/images/Landscape-Design.jpg');
    background-size: cover;
    background-position: center center;
}

.login-div {
    text-align: center;
    border: 1px solid rgb(25, 43, 43);
    padding: 30px 20px;
    background-color: rgb(166 184 174);
    box-shadow: -2px 3px 23px 23px rgba(0, 0, 0, 0.35);
    -webkit-box-shadow: -2px 3px 23px 23px rgba(0, 0, 0, 0.35);
    -moz-box-shadow: -2px 3px 23px 23px rgba(0, 0, 0, 0.35);
    /* background: rgb(35, 86, 60); */
    /* background: linear-gradient(0deg, rgba(35, 86, 60, 0.36746036305147056) 100%, rgba(15, 56, 45, 0.10415504092261907) 100%); */
}

.login-preview {
    text-align: center;
    margin-bottom: 10px;
    color: rgb(96, 96, 96);
}

.login-title {
    color: rgb(25, 43, 43);
    margin-bottom: 20px;
    text-align: center;
    border-bottom: 1px solid rgb(25, 43, 43);
}

.login-form {
    display: inline-block;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.form-group {
    padding: 0.6rem;
    font-family: Rambla, sans-serif;
}

.form-group label {
    /* margin-left: 16px; */
    padding: 0.6rem;
}

.button-idea {
    margin-top: 20px;
    padding: 0px 30px;
}

.redirect-register {
    display: block;
    margin-top: 10px;
    color: rgb(25, 43, 43);
}

.form-error {
    color: rgb(197, 66, 66);
    font-size:small;
}