@import url('../../reset.css');
  /* Home page */
  .home-section {
    background-color: rgb(243, 241, 241);
}

.home-title {
    padding-top: 20px;
    margin-bottom: 20px;
    padding: 1 rem 2 rem;
    text-align: center;
    font-size: 35px;
    color: rgb(25, 43, 43);
    ;
}

.home-details {
    width: auto;
    height: 70vh;
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.home-image,
.home-info {
    width: 35%;
    height: 80%;
    padding: 12px;
    text-align: center;
    overflow: hidden;
    background: rgb(35, 86, 60);
    background: linear-gradient(0deg, rgba(35, 86, 60, 0.36746036305147056) 100%, rgba(15, 56, 45, 0.10415504092261907) 100%);
}

.home-info {
    padding: 30px;
}

.info {
    padding-top: 30px;
}

.home-divider {
    width: 70%;
    height: 1px;
    margin: auto;
    justify-content: center;
    background-color: rgb(25, 43, 43);
    ;
}