/* @import url('../../reset.css'); */

/* Details Page */

.details {
    background-color: rgb(243, 241, 241);
}

.project-title {
    padding-top: 20px;
    margin-bottom: 20px;
    padding: 1 rem 2 rem;
    text-align: center;
    font-size: 35px;
    color: rgb(25, 43, 43);
    ;
}

.project-details {
    width: auto;
    height: 70vh;
    display: flex;
    gap: 20px;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.project-details-image,
/* .details-image, */
.details-info {
    position: relative;
    padding: 12px;
    width: 35%;
    height: 90%;
    text-align: center;
    background: rgb(35, 86, 60);
    background: linear-gradient(0deg, rgba(35, 86, 60, 0.36746036305147056) 100%, rgba(15, 56, 45, 0.10415504092261907) 100%);
}

.details-info h2{
    margin-top: 40px;
}

.details-image {
 width: 100%;
 height: auto;
}

.project-divider {
    width: 70%;
    height: 1px;
    margin: auto;
    justify-content: center;
    background-color: rgb(25, 43, 43);
    ;
}

.details-descriptions,
.details-type,
.details-creator,
.details-area,
.details-projectLevel {
    margin-top: 10px;
}

.buttons-details {
    display: inline-block;
    justify-content: center;
    text-align: center;
    gap: 10px;
    width: 80%;
    margin-top: 40px;
}

.edit,
.delete {
    width: 40%;
    margin: 0 10px;
    padding: 0.1rem 1rem;
}

.close {
    margin-top: 20px;
    width: 50px;
    height: 34px;
    transition: all 0.2s ease-in-out;
}

.close:hover {
    background-color: rgb(127, 173, 144);
    border-radius: 4px;
    width: 52px;
    height: 38px;
    cursor: pointer;
}